
.blog_entry {
	text-align: left;	
	margin : auto;
	clear: both;
	margin-top:20px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	outline: 1px solid #ddd;
	border-top: 1px solid #fff;
	padding: 10px;
	background: #f0f0f0;
}

#body:first-child {
	margin-top:120px;
}
