body {
	background-color:#636155;
	font-family: Arial, Helvetica, sans-serif;
}

 #entryGradient {
	padding-left: 40px;
	padding-right: 40px;
}

#blogContent {
	margin: auto;
	width: 100%;
	height: 88%;
	color: #fff;
	background: #111;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.userPost{
	width: 940px;
	text-align: left;	
	margin : auto;
	margin-top: 5px;
	padding:5px;
	padding-left: 20px;
	border-left: 2px solid white;
}

.postTitle {
	padding: 5px;
	font-size:13px;	
	color:white;
}

.postTitle > b 
{
	color: #7D9460;
	font-size: 16;
}

.close { margin-left: 855px; }

.postTitle, .postText {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.postText {
	font-size:14px;
	margin: 1px;
	padding: 8px;
	font-size: 14px;
	color: rgb(197,197,197);
}

.postText {
	width: 915px;
}

.fb-like {
	padding: 5px;
}

#save {
	margin-left: 440px;
	visibility: hidden;
}

#entryGradient {
	width: 950px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -515px;
}

#blogentry {
	height: 200px;
	border-style:solid;
	border-color: #B5AA94;
	border-radius: 15px;
	-moz-border-radius: 15px;
	background: -webkit-gradient(linear, left top, left bottom, from(#7D9460), to(#B5AA94));
	background: -moz-linear-gradient(top,  #7D9460,  #B5AA94);
	text-align: center;
	margin-top: 19%;
}

#entryTitle {
	font-weight: bold;
	color: white;
	width: 920px;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid rgb(91, 106, 70);
}

#loginContent {
	padding-top: 15px;
}

#loginContent > a  {
	color: #222;
	padding: 5px;
}

#loginContent > p  {
	color: #222;
}

.loginInput {
	background-color: rgb(108,113,81);
	padding: 5px;
	border: 1px solid rgb(83, 87, 62);
	border-right: 1px solid #B5AA94;
	border-bottom: 1px solid #B5AA94;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#submit {
	color: #222;
	padding: 10px;
	margin-left: 10px;
	background: rgb(108,113,81);
	border: 1px solid rgb(83, 87, 62);
	border-left: 1px solid #B5AA94;
	border-top: 1px solid #B5AA94;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#entryTextArea {
	border-top: 1px solid rgb(181, 193, 162);
	width: 940px;
}

#treeone, #treetwo {
	position: fixed;
	bottom: 0px;
	z-index:-1;
}
#treetwo { right: 0px; }
#treeone { left: 0px; }
