#cvTitle {
		color: #B5AA94;
		font-weight: bold;
		font-size: 22;
		padding-top: 20px;
		vertical-align: text-top;
		clear: both;
	}
	
	#contactList {
		padding-left: 0px;
		padding-top: 7px;
	}
	
	#contactList > li > a{
		padding: 4px;
		color: white;
	}
	
	.cvRow {
		clear: both;
	}
	
	.leftColumn {
		float:left;
		font-weight: bold;
		font-size: 15;
		color: #7D9460;
		vertical-align: text-top;	
		padding: 15px;
		margin-top: 10px;
	}
	
	.rightColumn {
		color:  rgb(95,107,119);
		font-size: 10pt;
		padding-right: 40px;
		padding-left: 20px;
		padding-top: 20px;
		border-left: 1px dashed brown;
		vertical-align:top;
	}
	
	.rightColumn > h3 {
		font-size: 14;
		color: #212121;
	}
	
	.rightColumn > h4 {
		font-size: 10pt;
		color: #3c3c3c;
	}
	
	.workxp_p {
		margin-bottom: 30px;
	}