#cvTitle {
		color: #B5AA94;
		font-weight: bold;
		font-size: 22;
		padding-top: 20px;
		vertical-align: text-top;
		clear: both;
	}
	
	#contactList {
		padding-left: 0px;
		padding-top: 7px;
	}
	
	#contactList > li > a{
		padding: 4px;
		color: white;
	}
	
	
	
	#cv_header > img {
		margin-left: 50px;
		padding: 10px;
		border: 1px solid #dedede;
	}
	
	#cv_header > div {
		margin-top: 20px;
		margin-left: 50px;
	}
	
	#cv_header > div > * {
		color: #475261;
		text-align:left;
		margin: 0;
		padding: 0;
	}
	
	.leftColumn {
		float:left;
		font-weight: bold;
		font-size: 15;
		color: #7D9460;
		vertical-align: text-top;	
		padding: 15px;
		margin-top: 10px;
	}
	
	.rightColumn {
		color:  rgb(95,107,119);
		font-size: 10pt;
		padding-right: 40px;
		padding-left: 20px;
		padding-top: 20px;
		vertical-align:top;
		border-left: 1px dashed #cccccc;
	}
	
	.rightColumn > h3 {
		font-size: 14;
		color: #212121;
	}
	
	.rightColumn > h4, .tech_list > div > li { 
		font-size: 10pt;
		color: #3c3c3c;
	}
	
	.tech_list > * {
		padding-left: 10px;
		padding-right: 10px;
		text-align: left;
		float: left;
		width: 150px;
	}
	
	.tech_list > div > li { 
		font-weight: bold;	
	}
	
	.tech_list > div > a {
		color: rgb(160,148,88);
	}
	
	#social_contact {
		float: left;
	}
	
	#social_contact > a > img {
	
	}
	
	#cv_header > * {
		float: left;
	}
	
	.workxp_p {
		margin-bottom: 30px;
	}