li > b{
	font-size: 16;
}

body {
}



#leftPane {
	clear:both;
	width: 770px;
	height: 60px;	
	margin-top: 50px;
	margin-bottom: 1px;
	text-align: center;
	list-style-type: none;
	border-bottom: 1px dashed #cacaca;
}

#leftPane >li:first-child{
	background: #e3e3e3;
}

#leftPane  > li{
	margin: 10px;
	margin-top: 20px;
	margin-bottom: -2px;
	width: 220px;
	float:left;
	font-size: 13;
	color: rgb(244,237,202);
	cursor: pointer;
	border-left-radius:10px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
#leftPane  > li:hover {background: #e3e3e3; }

#rightPane {
	float: left;
}
