.skill {
	padding-left: 20px;
	margin-bottom: 0px;
	margin-top : 10px;
	text-align: justify;
	border-left: 1px dashed brown;
}

.skill > ul {
	list-style-type: none;
	float: left;
	font-size: 9pt;
	margin: 0px;
}

.skill > ul > li {
	padding-top: 7px;
	color:#3c3c3c;
}

.skill > p {
	font-size: 9pt;
}

.skill > h3 {
	font-style:italic;
	color:#7D9460;
}

.skill > h3, .skill > p {
	width: 400px;
	text-align: left;
}

#others_description > p {
	width: 500px;
}

.title_image {
	float: left;
	margin: 20px;
	margin-right: 0px;
	
}