body {
	font: 14px/1.5 Georgia, serif;
	color: #6E6E63;
	background-image:url('/./images/pattern.jpg');
    background-repeat:repeat;
}

#body
{
	width: 810px;
	background-color: white;
	min-height: 100%;
	margin: auto;
	text-align: center;
	border-left: 1px solid rgb(231,231,231);
	border-right: 1px solid rgb(231,231,231);
}


/* CSS COMMENTS */
#header
{
	clear: both;
	width: 800px;
	text-align:center;
	margin: auto;
	border-bottom: 2px solid rgb(140,140,140);
}

#header > *
{
	float: left;
}

#header > img
{
	padding-top: 10px;
	padding-left: 15px;
	border-bottom: 2px dotted grey;
}

#navigation_header
{
	margin-left: 310px;
	height: 120px;
}

.nav_tab
{
	margin-top:3px;
	color:#356;
	font-size:10pt;
	padding:10px;
	padding-top:10px;
	padding-bottom:7px;
	text-decoration: none;
	float: left;
	border-top:5px solid white;
	width: 70px;
}

.nav_tab:hover
{
	border-top:5px solid green;
}

.home_page .home_tab, .blog_page .blog_tab, .info_page .info_tab {
	 border-top:5px solid green;	 
  } 

/** CSS COMMENTS */
