* { font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif; }

a { font-size: 15; text-decoration:none;}

b {	color: white; }

body { min-width:1000px; background-image:url('../images/pattern.png'); background-repeat: repeat;}

p {color: rgb(244,237,202) }

h1 > b {color: #222; font-size: 24; padding: 20px;}

#header {
	width: 98%;
	color: white;
	height: 60px;
	background: -webkit-gradient(linear, left top, left bottom, from(#7D9460), to(#B5AA94));
	background: -moz-linear-gradient(top,  #7D9460,  #B5AA94);	
	margin-top: 0px;
	margin-bottom: 20px;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#header a:last-child {border-left: none;}

#header > * {
	vertical-align: middle;
}

#header > h1 {
	padding-top : 5px;
	float: left;
	color: rgb(64,64,64);
	font-size: 16;
	padding-left: 10px;
	overflow: hidden;
}
#header > a {
	height: 40px;
	color: #222222;
	padding-top : 20px;
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
	border-left: 1px solid #B7C5A5;
	border-right: 1px solid #4F5A3D;
	text-align: center;	
	margin-right: 1px;
	float: right;
	width: 140px;
}

#name { 
	padding-left: 30px;
	float: left;
	font-size: 25;	
}
