#body
{
	height: 100%;
}

#welcome
{
	margin: auto;
	margin-top: 15px;
	text-align:justify;
	padding-left: 20px;
	color: rgb(95,107,119);
	font-size: 10pt;
	width: 790px;
	clear: both;
}

#blog_work_content
{
	width: 800px;
	clear:both;
	text-align: center;
	margin: auto;
	color: rgb(95,107,119);
}

#welcome > img
{
	padding-left: 10px;
	padding-right: 0px;
}

#aboutme_img
{
	float:left;
}

#welcome_paragraph
{
	float:left;
	width: 500px;
    padding-left: 20px;
}

#blog_list, #work_list
{
	margin-top: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	float:left;
	width: 400px;
	height: 200px;
	font-size: 12pt;
	list-style-type:none;
}

#blog_list > ul, #work_list > ul
{
	list-style-type:none;
}

.blog_work_list
{
	padding: 7px;
	margin-right: 20px;
	font-size: 10pt;
	text-align: left;
	border-top: 1px dotted grey;
}

.blog_work_list > a
{
	color: rgb(160,148,88);
}

#bottom_contact
{
	width: 800px;	
	margin:auto;
	text-align:center;
	color: rgb(95,107,119);
	font-size: 10pt;
}

.li-connect-mark
{
	margin-top: 1px;
}

.social_icon { vertical-align:Middle;}