body { min-width: 1200px; }

div > a {color: white; }

p {color: rgb(244,237,202) }

#visualLinkContent {
	min-width: 1200px;
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 40px;
	text-align:center;
	position: fixed;
	left: 50%;
	margin-left: -550px;
	
}

#visualLinkContent > div {
	float: left;
	color: white;
	width: 260px;
	height: 285px;
	outline: 1px solid #111;
	border-top: 1px solid #555;
	padding: 20px;
	background: #222222;
}

#visualLinkContent > div > a{
	font-size: 20;
}

#visualLinkDescription { 
	text-align:center;
}

#phpLink {margin-left: 40px; }
#rubyLink {margin-left: 40px; }

#welcome, #welcome b{
	padding-top : 50px;
	font-size : 23;
	text-align: center;
}
